body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h6 {
  color: #aab2b3;
}

form a {
  margin: 5px;
}

.btn {
  margin: 5px;
}

.fa {
  font-size: 2em;
}

.fa-thumbs-up {
  color: #0f0;
}

.fa-thumbs-down {
  margin-left: 10px;
  color: #f00;
}

nav {
  margin-bottom: 15px;
}

.right {
  text-align: right;
}

.post-container {
  width: 75%;
  margin: 0 auto;
}
