body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form a {
  margin: 5px;
}

.btn {
  margin: 5px;
}

.fa {
  font-size: 2em;
}

.fa-thumbs-up {
  color: #0f0;
}

.fa-thumbs-down {
  margin-left: 10px;
  color: #f00;
}
